[user]
    name = Akinobu Tani
    email = akinobu.x.tani@gmail.com
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
    difst = diff --cached
    merged = !git branch --merged | grep -v master | grep -v '*'
    delete-merged = !git merged | xargs git branch -d
[core]
    autocrlf = input
[push]
    default = simple
[rebase]
    autostash = true
[color]
    ui = true
