[user]
    name = Akinobu Tani
    email = akinobu.x.tani@gmail.com
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[core]
    autocrlf = input
[push]
    default = simple
[rebase]
    autostash = true
