[user]
	name = Akinobu Tani
	email = akinobu.x.tani@gmail.com
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
  difst = diff --cached
  merged = !git branch --merged | grep -v master | grep -v '*'
  delete-merged = !git merged | xargs git branch -d
  merge-unity = mergetool --tool unityyamlmerge
[core]
  autocrlf = input
[push]
  default = simple
[rebase]
  autostash = true
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[mergetool "unityyamlmerge"]
  trustExitCode = false
  cmd = /Applications/Unity/Hub/Editor/2018.4.13f1/Unity.app/Contents/Tools/UnityYAMLMerge merge -p \"$BASE\" \"$REMOTE\" \"$LOCAL\" \"$MERGED\"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pr-release]
  token = 59e5835d57d2adea58065540eb56314e276dfac5
[merge]
	tool = p4merge
[pull]
	rebase = true
